.dsFlex {
    display: flex;
}
.dsNone {
    display: none;
}
.dsOpen {
    display: block;
}
.active {
    color: var(--redColor);
}
.active:hover {
    color: var(--redColor);
    filter: brightness(110%);
}
.songActive {
    
}
.volumeActive {
    display: block;
}
@keyframes modalPlaylist {
    
    from {
        transform: translateX(100%);
    }
}